extends layout


block wrapper_content
	.container
		h1 About page
		br
		p This is my attempt at writting a blog with , NodeJS
		p I love Node, I like everything about it from it's name to the way it works.
		p absolutely fabulous way of thinking. This for me has been a pivitol point in my carreer as a developer.
		p It has changed the way I think about coding in general and especially the way I think about JavaScirpt in general.
		br
		p So hold on to your butts, we are about to blast off to new frontiers that we have never explored in terms of writting modular code in a modern web application.